<?xml version="1.0"?> 
<launch>
	<arg name="robot_name" default="robot_0" />
	<arg name="robot_prefix" default=""/>
	<arg name="log_path" default="$(env HOME)/logs" />
	<arg name="output" default="screen"/>
	<node pkg="move_base" type="move_base" name="move_base">
		<param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
		<param name="controller_frequency" value="5"/>
		<!--
		<remap from="/move_base_node/global_costmap/footprint" to="/explorer/global_costmap/footprint"/>
		<remap from="/move_base_node/local_costmap/footprint" to="/explorer/local_costmap/footprint"/>
		-->

		<rosparam file="$(find explorer)/param/simulation_costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find explorer)/param/simulation_costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find explorer)/param/simulation_local_costmap_params.yaml" command="load" />
		<rosparam file="$(find explorer)/param/simulation_global_costmap_params.yaml" command="load" />
	</node>
</launch>
